$image1:url('/img/Image1.jpg');
$image2:url('/img/Image2.jpg');
$image3:url('/img/Image3.jpg');
$textColorForLight:#666;
$textColorForDark:#ddd;
$back-color-light: #f4f4f4;
$back-color-dark: #282e34;
$headersColor: #000;
$headerFontSize: 1.6rem;

