$image1:url('Image1.jpg');
$image2:url('Image2.jpg');
$image3:url('Image3.jpg');
$textColorForLight:#666;
$textColorForDark:#ddd;
$back-color-light: #f4f4f4;
$back-color-dark: #282e34;
$headersColor: #000;
$headerFontSize: 1.6rem;

